<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="../css/output.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" rel="stylesheet" />
    <title>
        ZMS WEB SITE
    </title>
    <script src="https://cdn.tailwindcss.com">
    </script>

</head>

<body>
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
        <div class="flex items-center text-white mr-6">
            <span class="font-semibold text-xl">
                FST BM
            </span>
        </div>
        <div class="text-xl text-red-700 underline">
            Télégestion de distribution de l'énergie electrique
        </div>
        <div class="">
            <div>
                <a class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
                    href="#">
                    ZMS WEB SITE
                </a>
            </div>
        </div>
    </nav>